$color-dark-cyan: hsl(185, 75%, 39%);
$color-desaturated-blue: hsl(229, 23%, 23%);
$color-grayish-blue: hsl(227, 10%, 46%);
$color-dark-gray: hsl(0, 0%, 59%);

*{
    box-sizing: border-box;
}

html{
    font-family: 'Kumbh Sans';
}

body{
    min-height: 100vh;
    font-size: 18px;
    background-color: $color-dark-cyan;
    display: grid;
    justify-content: center;
    align-content: center;
    position: relative;
    background-image: 
    url(../images/bg-pattern-top.svg), 
    url(../images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position: top -500px left -300px, bottom -600px right -200px; 

    @media screen and(max-width: 450px){
        background-position: top -600px left -700px, bottom -750px right -484px; 
    }
}

span{
    color: $color-grayish-blue;
}

.card{
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;

    hr{
        color: rgba($color-dark-gray, .25);
    }

    &__figure{
        margin: 0;
    }

    &__cover{
        display: block;
    }

    &__profile{
        border-radius: 50%;
        border: 4px solid white;
        margin-top: -15%;
        max-width: 27%;
    }

    &__name{
        display: inline-block;
        margin-right: .5rem;
        margin-bottom: 0;
    }

    &__residence{
        color: $color-grayish-blue;
    }

    &__residence{
        margin-bottom: 2rem;
    }

    &__stats{
        display: inline-block;
        margin: 0 1rem 1rem 1rem;

        p{
            font-weight: 700;
            margin-bottom: .2rem;
        }

        span{
            font-size: 1rem;
            letter-spacing: .1rem;
        }
    }
}